table > thead {
    background-color: black; 
    color: white; 
    text-decoration: underline; 
    text-transform: uppercase;
}
body > table{
    margin: auto;
}
body > h1,h2 {
    text-align: center;
}
body > h1{
    text-decoration: underline;
}