body{
    background-color: lightgrey;
}
body > #tartalom{
    width: 90%;
    margin:auto;
}
table > thead {
    border: 3px solid gray;
    background-color: black; 
    color: white; 
    text-decoration: underline; 
    text-transform: uppercase;
}
table > tbody{
    border: 3px solid gray;
    background-color: wheat;

}
thead > tr > th{
    border: 3px solid gray;
}
tbody > tr > td{
    border: 3px solid gray;
    width: 33%;
}

table > tfoot{
    border: 3px solid gray;
    background-color: blanchedalmond;
    text-transform: uppercase;
    color: red;
}
#tartalom > table{
    box-shadow: 4px 4px 1px royalblue;
    border: 3px solid gray;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    width: 80%;
    margin: auto;
}
#tartalom > p{
    text-indent: 25px;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
}
ol{
    font-size: 1em;
    border: 1px solid rosybrown;
    color: white;
    text-align: center;
    list-style-type: none;
    background-color: royalblue;
    text-shadow: 2px 2px 1px black ;
    box-shadow: 2px 2px 1px black;
}
ol > li{
    background-color:slateblue;
    outline: black solid 1px;
    ;
}
#tartalom > h2{
    text-align: left;
    color: grey;
    text-shadow: 2px 2px 1px black;
    outline: 2px dashed black;
}
#tartalom > h1{
    padding-bottom: 1px;
    background-color: cornsilk;
    text-align: center;
    text-decoration: underline;
    color: gray;
    text-shadow: 2px 2px 1px blue;
    margin: auto;
    outline: 2px solid black;
    
}
.nav_img{
    border-radius: 50%;
    height: 100px;

}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}
.navbar{
    font-size:xx-large;
    text-indent: 100px;
}

.navbar-brand{
    font-size: xx-large;
}
footer {
    position:fixed;
    bottom:0;
    width:100%;
    height:60px; 
    background:rgb(86, 88, 88);
    text-align: center;
    font-size: xx-large;
    color: lightgrey;
 }

 section{
     font-size: 26px;
 }
.bit-larger{
    font-size: larger;
    text-align: center;
    text-decoration: underline red solid;
}
.large{
    font-size: large;
    text-align: center;
    text-decoration: underline red solid;
}
.alahuzott{
    text-decoration: underline black solid;
}
#meme{
    height: 15%;
    width: 15%;
    align-items: baseline;
}
#bemutatkozas{ 
    text-align: center;
}

#idiotGif{
    width: 20%;
    height: 20%;
}